In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Code-Institute-Solutions/sample-datasets/main/flights.csv')
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Code-Institute-Solutions/sample-datasets/main/flights.csv',
                 index_col=['year'])
df

          month  passengers
year
1949    January         112
1949   February         118
1949      March         132
1949      April         129
1949        May         121
...         ...         ...
1960     August         606
1960  September         508
1960    October         461
1960   November         390
1960   December         432

[144 rows x 2 columns]

In [6]:
df.to_csv('csv_example.csv')

In [7]:
!pwd

/workspace/data-analytics/pandas

In [8]:
! ls

csv_example.csv			pandas3SelectData.ipynb
csv_penguin.csv			pandas4MultiIndex.ipynb
pandas1SeriesDataframe.ipynb	pands5DataInputOutput.ipynb
pandas2FilterAddDropCols.ipynb

In [9]:
df_example = pd.read_csv('csv_example.csv')
df_example

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [10]:
# write your code here
df = pd.read_csv('https://raw.githubusercontent.com/Code-Institute-Solutions/sample-datasets/main/penguins.csv')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [11]:
# write your code here
df = pd.read_csv('https://raw.githubusercontent.com/Code-Institute-Solutions/sample-datasets/main/penguins.csv')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [12]:
df.to_csv('csv_penguin.csv')

In [14]:
search = pd.read_html('https://en.wikipedia.org/wiki/FIFA_World_Cup')

In [15]:
search

[                                   0                                  1
 0                                NaN                                NaN
 1                            Founded                 1930; 92 years ago
 2                             Region               International (FIFA)
 3                    Number of teams                        32 (finals)
 4                  Current champions                 France (2nd title)
 5            Most successful team(s)                  Brazil (5 titles)
 6            Television broadcasters               List of broadcasters
 7                            Website                   Official website
 8  2022 FIFA World Cup qualification  2022 FIFA World Cup qualification,
                                                    0  \
 0                France, the current world champions
 1                                        Tournaments
 2  1930 1934 1938 1950 1954 1958 1962 1966 1970 1...

                                                    1
 0                France, the current world champions
 1                                        Tournaments
 2  1930 1934 1938 1950 1954 1958 1962 1966 1970 1...  ,
   Confederation  Total                                      (Hosts) Years
 0           AFC      2                                         2002, 2022
 1           CAF      1                                               2010
 2      CONCACAF      4                             1970, 1986, 1994, 2026
 3      CONMEBOL      5                       1930, 1950, 1962, 1978, 2014
 4           OFC      0                                                NaN
 5          UEFA     11  1934, 1938, 1954, 1958, 1966, 1974, 1982, 1990...,
        Year              Hosts Venues/Cities Totalattendance Matches  \
        Year              Hosts Venues/Cities Totalattendance Matches
 0      1930            Uruguay           3/1          590549      18
 1      1934              Italy           8/8          363000      17
 2      1938             France          10/9          375700      18
 3      1950             Brazil           6/6         1045246      22
 4      1954        Switzerland           6/6          768607      26
 5      1958             Sweden         12/12          819810      35
 6      1962              Chile           4/4          893172      32
 7      1966            England           8/7         1563135      32
 8      1970             Mexico           5/5         1603975      32
 9      1974       West Germany           9/9         1865753      38
 10     1978          Argentina           6/5         1545791      38
 11     1982              Spain         17/14         2109723      52
 12     1986             Mexico         12/11         2394031      52
 13     1990              Italy         12/12         2516215      52
 14     1994      United States           9/9         3587538      52
 15     1998             France         10/10         2785100      64
 16     2002  South Korea Japan         20/20         2705197      64
 17     2006            Germany         12/12         3359439      64
 18     2010       South Africa          10/9         3178856      64
 19     2014             Brazil         12/12         3429873      64
 20     2018             Russia         12/11         3031768      64
 21  Overall            Overall       Overall        40532478     900

    Avg.attendance Highest attendances †  \
    Avg.attendance                Number
 0           32808                 93000
 1           21353                 55000
 2           20872                 58455
 3           47511           173,850[84]
 4           29562                 63000
 5           23423                 50928
 6           27912                 68679
 7           48848                 98270
 8           50124                108192
 9           49099                 83168
 10          40679                 71712
 11          40572                 95500
 12          46039                114600
 13          48389                 74765
 14          68991                 94194
 15          43517                 80000
 16          42269                 69029
 17          52491                 72000
 18          49670                 84490
 19          53592                 74738
 20          47371                 78011
 21          45036                171772

                                             \
                                      Venue
 0           Estadio Centenario, Montevideo
 1               Stadio Nazionale PNF, Rome
 2             Olympique de Colombes, Paris
 3         Maracanã Stadium, Rio de Janeiro
 4                   Wankdorf Stadium, Bern
 5               Ullevi Stadium, Gothenburg
 6               Estadio Nacional, Santiago
 7                  Wembley Stadium, London
 8              Estadio Azteca, Mexico City
 9              Olympiastadion, West Berlin
 10       River Plate Stadium, Buenos Aires
 11                     Camp Nou, Barcelona
 12             Estadio Azteca, Mexico City
 13                         San Siro, Milan
 14         Rose Bowl, Pasadena, California
 15            Stade de France, Saint-Denis
 16  International Stadium, Yokohama, Japan
 17                  Olympiastadion, Berlin
 18               Soccer City, Johannesburg
 19        Maracanã Stadium, Rio de Janeiro
 20                Luzhniki Stadium, Moscow
 21            Maracanã Stadium, Rio (1950)


                                               Game(s)
 0                  Uruguay 6–1 Yugoslavia, Semi-final
 1                     Italy 2–1 Czechoslovakia, Final
 2                     France 1–3 Italy, Quarter-final
 3                  Brazil 1–2 Uruguay, Deciding match
 4                     West Germany 3–2 Hungary, Final
 5                Brazil 2–0 Soviet Union, Group stage
 6                        Brazil 4–2 Chile, Semi-final
 7                     England 4–2 West Germany, Final
 8                     Mexico 1–0 Belgium, Group stage
 9                 West Germany 1–0 Chile, Group stage
 10                   Italy 1–0 Argentina, Group stage
 11               Argentina 0–1 Belgium, Opening match
 12  Mexico 1–1 Paraguay, Group stageArgentina 3–2 ...
 13           West Germany 4–1 Yugoslavia, Group stage
 14                     Brazil 0–0 (3–2p) Italy, Final
 15                           Brazil 0–3 France, Final
 16                          Brazil 2–0 Germany, Final
 17        Germany 1–1 (4–2p) Argentina, Quarter-final
 18                       Spain 1–0 Netherlands, Final
 19                       Germany 1–0 Argentina, Final
 20                          France 4–2 Croatia, Final
 21                                                NaN  ,
          0     1                                 2   \
 0   Edition  Year                             Hosts
 1         1  1930                           Uruguay
 2         2  1934                             Italy
 3         3  1938                            France
 4      1942  1942  Not held because of World War II
 5      1946  1946  Not held because of World War II
 6         4  1950                            Brazil
 7         5  1954                       Switzerland
 8         6  1958                            Sweden
 9         7  1962                             Chile
 10        8  1966                           England
 11        9  1970                            Mexico
 12       10  1974                      West Germany
 13       11  1978                         Argentina
 14       12  1982                             Spain
 15       13  1986                            Mexico
 16       14  1990                             Italy
 17       15  1994                     United States
 18       16  1998                            France
 19       17  2002                 South Korea Japan
 20       18  2006                           Germany
 21       19  2010                      South Africa
 22       20  2014                            Brazil
 23       21  2018                            Russia
 24       22  2022                             Qatar
 25       23  2026       Canada Mexico United States

                                   3                                 4   \
 0                                NaN                         Champions
 1                                NaN                           Uruguay
 2                                NaN                             Italy
 3                                NaN                             Italy
 4   Not held because of World War II  Not held because of World War II
 5   Not held because of World War II  Not held because of World War II
 6                                NaN                           Uruguay
 7                                NaN                      West Germany
 8                                NaN                            Brazil
 9                                NaN                            Brazil
 10                               NaN                           England
 11                               NaN                            Brazil
 12                               NaN                      West Germany
 13                               NaN                         Argentina
 14                               NaN                             Italy
 15                               NaN                         Argentina
 16                               NaN                      West Germany
 17                               NaN                            Brazil
 18                               NaN                            France
 19                               NaN                            Brazil
 20                               NaN                             Italy
 21                               NaN                             Spain
 22                               NaN                           Germany
 23                               NaN                            France
 24                               NaN                               TBD
 25                               NaN                               TBD

                                                 5   \
 0                                  Score and Venue
 1               4–2 Estadio Centenario, Montevideo
 2          2–1 (a.e.t.) Stadio Nazionale PNF, Rome
 3                     4–2 Stade de Colombes, Paris
 4                 Not held because of World War II
 5                 Not held because of World War II
 6              2–1[note 2]Maracanã, Rio de Janeiro
 7                        3–2 Wankdorfstadion, Bern
 8                        5–2 Råsundastadion, Solna
 9                   3–1 Estadio Nacional, Santiago
 10            4–2 (a.e.t.) Wembley Stadium, London
 11                 4–1 Estadio Azteca, Mexico City
 12                      2–1 Olympiastadion, Munich
 13  3–1 (a.e.t.) Monumental de Núñez, Buenos Aires
 14                   3–1 Santiago Bernabéu, Madrid
 15                 3–2 Estadio Azteca, Mexico City
 16                       1–0 Stadio Olimpico, Rome
 17         0–0 (a.e.t.)(3–2 p) Rose Bowl, Pasadena
 18                3–0 Stade de France, Saint-Denis
 19             2–0 International Stadium, Yokohama
 20      1–1 (a.e.t.)(5–3 p) Olympiastadion, Berlin
 21          1–0 (a.e.t.) Soccer City, Johannesburg
 22           1–0 (a.e.t.) Maracanã, Rio de Janeiro
 23                    4–2 Luzhniki Stadium, Moscow
 24                       TBDIconic Stadium, Lusail
 25                                          TBDTBD

                                   6                                 7   \
 0                         Runners-up                               NaN
 1                          Argentina                               NaN
 2                     Czechoslovakia                               NaN
 3                            Hungary                               NaN
 4   Not held because of World War II  Not held because of World War II
 5   Not held because of World War II  Not held because of World War II
 6                             Brazil                               NaN
 7                            Hungary                               NaN
 8                             Sweden                               NaN
 9                     Czechoslovakia                               NaN
 10                      West Germany                               NaN
 11                             Italy                               NaN
 12                       Netherlands                               NaN
 13                       Netherlands                               NaN
 14                      West Germany                               NaN
 15                      West Germany                               NaN
 16                         Argentina                               NaN
 17                             Italy                               NaN
 18                            Brazil                               NaN
 19                           Germany                               NaN
 20                            France                               NaN
 21                       Netherlands                               NaN
 22                         Argentina                               NaN
 23                           Croatia                               NaN
 24                               TBD                               NaN
 25                               TBD                               NaN

                                   8   \
 0                        Third place
 1                      United States
 2                            Germany
 3                             Brazil
 4   Not held because of World War II
 5   Not held because of World War II
 6                             Sweden
 7                            Austria
 8                             France
 9                              Chile
 10                          Portugal
 11                      West Germany
 12                            Poland
 13                            Brazil
 14                            Poland
 15                            France
 16                             Italy
 17                            Sweden
 18                           Croatia
 19                            Turkey
 20                           Germany
 21                           Germany
 22                       Netherlands
 23                           Belgium
 24                               TBD
 25                               TBD

                                                 9   \
 0                                  Score and Venue
 1                                         [note 1]
 2             3–2 Stadio Giorgio Ascarelli, Naples
 3                       4–2 Parc Lescure, Bordeaux
 4                 Not held because of World War II
 5                 Not held because of World War II
 6                   3–1[note 2]Pacaembu, São Paulo
 7                             3–1 Hardturm, Zürich
 8                           6–3 Ullevi, Gothenburg
 9                   1–0 Estadio Nacional, Santiago
 10                     2–1 Wembley Stadium, London
 11                 1–0 Estadio Azteca, Mexico City
 12                      1–0 Olympiastadion, Munich
 13           2–1 Monumental de Núñez, Buenos Aires
 14           3–2 Estadio José Rico Pérez, Alicante
 15         4–2 (a.e.t.) Estadio Cuauhtémoc, Puebla
 16                     2–1 Stadio San Nicola, Bari
 17                         4–0 Rose Bowl, Pasadena
 18                     2–1 Parc des Princes, Paris
 19                        3–2 Daegu Stadium, Daegu
 20         3–1 Gottlieb-Daimler-Stadion, Stuttgart
 21  3–2 Nelson Mandela Bay Stadium, Port Elizabeth
 22                  3–0 Estádio Nacional, Brasília
 23        2–0 Krestovsky Stadium, Saint Petersburg
 24                   TBDKhalifa Stadium, Al Rayyan
 25                                          TBDTBD

                                   10                                11  \
 0                       Fourth place                               NaN
 1                         Yugoslavia                               NaN
 2                            Austria                               NaN
 3                             Sweden                               NaN
 4   Not held because of World War II  Not held because of World War II
 5   Not held because of World War II  Not held because of World War II
 6                              Spain                               NaN
 7                            Uruguay                               NaN
 8                       West Germany                               NaN
 9                         Yugoslavia                               NaN
 10                      Soviet Union                               NaN
 11                           Uruguay                               NaN
 12                            Brazil                               NaN
 13                             Italy                               NaN
 14                            France                               NaN
 15                           Belgium                               NaN
 16                           England                               NaN
 17                          Bulgaria                               NaN
 18                       Netherlands                               NaN
 19                       South Korea                               NaN
 20                          Portugal                               NaN
 21                           Uruguay                               NaN
 22                            Brazil                               NaN
 23                           England                               NaN
 24                               TBD                               NaN
 25                               TBD                               NaN

                                   12
 0                       No. of teams
 1                                 13
 2                                 16
 3                                 15
 4   Not held because of World War II
 5   Not held because of World War II
 6                                 13
 7                                 16
 8                                 16
 9                                 16
 10                                16
 11                                16
 12                                16
 13                                16
 14                                24
 15                                24
 16                                24
 17                                24
 18                                32
 19                                32
 20                                32
 21                                32
 22                                32
 23                                32
 24                                32
 25                                48  ,
                Team                            Titles  \
 0            Brazil  5 (1958, 1962, 1970, 1994, 2002)
 1          Germany1       4 (1954, 1974*, 1990, 2014)
 2             Italy       4 (1934*, 1938, 1982, 2006)
 3         Argentina                   2 (1978*, 1986)
 4            France                   2 (1998*, 2018)
 5           Uruguay                   2 (1930*, 1950)
 6           England                         1 (1966*)
 7             Spain                          1 (2010)
 8       Netherlands                               NaN
 9           Hungary                               NaN
 10  Czech Republic2                               NaN
 11           Sweden                               NaN
 12          Croatia                               NaN
 13           Poland                               NaN
 14          Austria                               NaN
 15         Portugal                               NaN
 16          Belgium                               NaN
 17    United States                               NaN
 18            Chile                               NaN

In [16]:
df = search[3]
df

       Year              Hosts Venues/Cities Totalattendance Matches  \
       Year              Hosts Venues/Cities Totalattendance Matches
0      1930            Uruguay           3/1          590549      18
1      1934              Italy           8/8          363000      17
2      1938             France          10/9          375700      18
3      1950             Brazil           6/6         1045246      22
4      1954        Switzerland           6/6          768607      26
5      1958             Sweden         12/12          819810      35
6      1962              Chile           4/4          893172      32
7      1966            England           8/7         1563135      32
8      1970             Mexico           5/5         1603975      32
9      1974       West Germany           9/9         1865753      38
10     1978          Argentina           6/5         1545791      38
11     1982              Spain         17/14         2109723      52
12     1986             Mexico         12/11         2394031      52
13     1990              Italy         12/12         2516215      52
14     1994      United States           9/9         3587538      52
15     1998             France         10/10         2785100      64
16     2002  South Korea Japan         20/20         2705197      64
17     2006            Germany         12/12         3359439      64
18     2010       South Africa          10/9         3178856      64
19     2014             Brazil         12/12         3429873      64
20     2018             Russia         12/11         3031768      64
21  Overall            Overall       Overall        40532478     900

   Avg.attendance Highest attendances †  \
   Avg.attendance                Number
0           32808                 93000
1           21353                 55000
2           20872                 58455
3           47511           173,850[84]
4           29562                 63000
5           23423                 50928
6           27912                 68679
7           48848                 98270
8           50124                108192
9           49099                 83168
10          40679                 71712
11          40572                 95500
12          46039                114600
13          48389                 74765
14          68991                 94194
15          43517                 80000
16          42269                 69029
17          52491                 72000
18          49670                 84490
19          53592                 74738
20          47371                 78011
21          45036                171772

                                            \
                                     Venue
0           Estadio Centenario, Montevideo
1               Stadio Nazionale PNF, Rome
2             Olympique de Colombes, Paris
3         Maracanã Stadium, Rio de Janeiro
4                   Wankdorf Stadium, Bern
5               Ullevi Stadium, Gothenburg
6               Estadio Nacional, Santiago
7                  Wembley Stadium, London
8              Estadio Azteca, Mexico City
9              Olympiastadion, West Berlin
10       River Plate Stadium, Buenos Aires
11                     Camp Nou, Barcelona
12             Estadio Azteca, Mexico City
13                         San Siro, Milan
14         Rose Bowl, Pasadena, California
15            Stade de France, Saint-Denis
16  International Stadium, Yokohama, Japan
17                  Olympiastadion, Berlin
18               Soccer City, Johannesburg
19        Maracanã Stadium, Rio de Janeiro
20                Luzhniki Stadium, Moscow
21            Maracanã Stadium, Rio (1950)


                                              Game(s)
0                  Uruguay 6–1 Yugoslavia, Semi-final
1                     Italy 2–1 Czechoslovakia, Final
2                     France 1–3 Italy, Quarter-final
3                  Brazil 1–2 Uruguay, Deciding match
4                     West Germany 3–2 Hungary, Final
5                Brazil 2–0 Soviet Union, Group stage
6                        Brazil 4–2 Chile, Semi-final
7                     England 4–2 West Germany, Final
8                     Mexico 1–0 Belgium, Group stage
9                 West Germany 1–0 Chile, Group stage
10                   Italy 1–0 Argentina, Group stage
11               Argentina 0–1 Belgium, Opening match
12  Mexico 1–1 Paraguay, Group stageArgentina 3–2 ...
13           West Germany 4–1 Yugoslavia, Group stage
14                     Brazil 0–0 (3–2p) Italy, Final
15                           Brazil 0–3 France, Final
16                          Brazil 2–0 Germany, Final
17        Germany 1–1 (4–2p) Argentina, Quarter-final
18                       Spain 1–0 Netherlands, Final
19                       Germany 1–0 Argentina, Final
20                          France 4–2 Croatia, Final
21                                                NaN

In [21]:
df = search[2]

df

  Confederation  Total                                      (Hosts) Years
0           AFC      2                                         2002, 2022
1           CAF      1                                               2010
2      CONCACAF      4                             1970, 1986, 1994, 2026
3      CONMEBOL      5                       1930, 1950, 1962, 1978, 2014
4           OFC      0                                                NaN
5          UEFA     11  1934, 1938, 1954, 1958, 1966, 1974, 1982, 1990...